html, body {
  height: 100%;
}

.outter-box {
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: blue;
}

.display {
  background-image: url("https://drive.google.com/uc?id=0B6TyVVxgyVl6angtR1hyVkcySlk");
  background-position: 20% 0%;
  background-size: 200%;
  background-repeat: no-repeat;
  width: 404px;
  height: 425px;
  /*vertical-align: middle;*/
  margin: 0 auto;
}

.fresh-text {
  display: none;
}

.super-text {
  display:none;
}

.craft-quote {
  display: none;
}

.visit-craft {
  display: none;
}
